.moviecard {
  position: relative;
  width: max-content;
  transition: all 200ms;
  cursor: pointer;
  background-color: white;
}
.imdb {
  z-index: -1;
  transition: all ease-in-out 150ms;
  opacity: 0;
  width: 100%;
  position: absolute;
}
.moviecard:hover .imdb {
  opacity: 1;
  transform: translateY(-110%);
}
.imdb {
  font-weight: 600;
}
.posterimg {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.moviecard h5 {
  font-weight: 600;
}
.moviecard:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.comingsoon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  content: "Coming Soon";
  color: black;
  padding: 5px;
  border: solid 1px black;
  border-radius: 0.6rem;
  background-color: rgb(206, 177, 15);
  font-weight: 700;
  transform: translate(20%, -10%);
}
