<div class="movietitle">
  <h1>{{ moviedata.Title }}</h1>
  <p>{{ moviedata.Genre }}</p>
</div>
<div class="selectinfo">
  <app-dateslider></app-dateslider>
  <div
    style="margin-left: 80px; margin-top: 20px; margin-bottom: 20px"
    *ngIf="this.seatlayout; else elseBlock"
  >
    <app-seatchoice
      [moviedata]="moviedata"
      [noofseats]="this.seatstobechosed"
    ></app-seatchoice>
  </div>
  <ng-template #elseBlock>
    <div class="theatercontainer">
      <div
        class="legend border d-flex justify-content-center align-content-center gap-5"
      >
        <p>
          <span style="background-color: rgb(7, 220, 7)" class="dot"></span>
          Available
        </p>
        <p><span style="background-color: gray" class="dot"></span>Booked</p>
        <p>
          <span style="background-color: orange" class="dot"></span>Fast Filling
        </p>
      </div>
      <div class="d-flex flex-column gap-5">
        <app-theatercard
          (continue)="showseatlayout($event)"
          *ngFor="let t of this.theaterdata"
          [tdata]="t"
        ></app-theatercard>
      </div>
    </div>
  </ng-template>
</div>
