.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 4px;
}
.legend {
  padding: 3px;
}
.legend p {
  margin: 0;
}
.th1 {
  padding: 10px;
}
.movietitle {
  padding: 10px;
  background: linear-gradient(
    177.9deg,
    rgb(58, 62, 88) 3.6%,
    rgb(119, 127, 148) 105.8%
  );
}
.movietitle h1,
.movietitle p {
  margin-left: 115px;
  color: white;
  font-weight: 600;
}
.selectinfo {
  margin-left: 115px;
}
