.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}
app-footer {
  margin-top: auto;
  z-index: 1;
}
app-header {
  width: 100%;
  z-index: 1;
}
video {
  position: fixed;

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* https://www.omdbapi.com/?apikey=9d277c&t=Leo&plot=full */
