.moviedetails {
  width: 100vw;
  height: 490px;
  background: linear-gradient(
    177.9deg,
    rgb(58, 62, 88) 3.6%,
    rgb(119, 127, 148) 105.8%
  );
}
.trailer {
  position: relative;
  width: 100vw;
  height: 490px;
  background: linear-gradient(
    177.9deg,
    rgb(58, 62, 88) 3.6%,
    rgb(119, 127, 148) 105.8%
  );
}
.trailer iframe {
  padding: 2px;
  max-height: 490px;
}
.rating h4 {
  font-size: 1.2rem;
  margin: 0;
}

.bookbtn {
  font-size: larger;
  padding: 5px 12px;
  background-color: rgb(244, 71, 71);
}

.allbtn {
  background: #ff4742;
  border: 1px solid #ff4742;
  transition: all ease-in-out 100ms;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

.allbtn:hover,
.allbtn:active {
  background-color: white;
  background-position: 0 0;
  color: #ff4742;
}
.allbtn:active {
  opacity: 0.5;
}

.watchbtn {
  margin-right: 12px;
}

.gobackbtn {
  position: absolute;
  margin: 10px;
  top: 0;
}
